{% extends "base_generic.html" %}

{% load bootstrap3 %}

{% block content %}

<h1>Delete Question</h1>

<p>Are you sure you want to delete the Answer: {{ answer }}?</p>

<form action="" method="POST">
  {% csrf_token %}

  <!-- <input type="submit" action="" value="Yes, delete." /> -->

      {% buttons %}
        <button type="submit" class="btn btn-danger">
            {# {% bootstrap_icon "arrow" %} #}
            Yes, delete.
        </button>
      {% endbuttons %}


</form>

{% endblock %}
