{% extends "base_generic.html" %}

{% load bootstrap3 %}

{% load static %}

{% block content %}

    <h1>{{ question.subject }}</h1>
    <p>{{ question.description }}</p>

    <h4>Asked by: {{ question.contributor.get_username }} </h4>

    <div>
        {% if question.category %}
            <i>#{{ question.category.name }}</i>
        {% else %}
            <i>No category</i>
        {%endif%}
    </div>
    <div>
        <div class="col-sm-12">
            {% if user.is_authenticated  %}
                {% if user.id == question.contributor.id %}

              <a href="{% url 'qa:question_edit' question.id %}">
                <button type="" class="btn btn-primary">
                    {# {% bootstrap_icon "arrow" %} #} Edit
                </button>
              </a>

              <a href="{% url 'qa:question_delete' question.id %}">
                <button type="" class="btn btn-danger">
                    {# {% bootstrap_icon "arrow" %} #} Delete
                </button>
              </a>
                {% endif %}
                </div>

        <div class="col-sm-12">
                <div class="col-sm-2">
                    {% if user in question.upvoted_by_users.all %}
                    <div class="btn-disable btn-default">

                {% else %}
                    <div>
                {% endif %}
                    <form method="post" action="{% url 'qa:question_vote' question.id %}">
                        {% csrf_token %}
                          {% buttons %}
                          <button type="submit" class="btn" name="upvote">
                                {# {% bootstrap_icon "arrow" %} #} Upvote
                            </button>
                          {% endbuttons %}
                    </form>
                </div>
                </div>

                <div class="col-sm-2">
                {% if user in question.downvoted_by_users.all %}
                <div class="btn-disable btn-default">
                {% else %}
                <div>
                {% endif %}


                <form method="post" action="{% url 'qa:question_vote' question.id %}">
                    {% csrf_token %}
                      {% buttons %}
                        <button type="submit" class="btn" name="downvote">
                            {# {% bootstrap_icon "arrow" %} #} Downvote
                        </button>
                      {% endbuttons %}
                </form>
                    </div>
                </div>
            </form>
            {% endif %}
            </div>
                Upvotes: {{question.total_upvotes}}

                Downvotes: {{ question.total_downvotes }}

    {% if question.answer_set.all %}
        <h2>Answers</h2>
        {% for answer in question.answer_set.all %}
            <p> > {{ answer.answer }} by {{ answer.contributor.get_username }}</p>

            {% if user.is_authenticated  %}
                {% if user.id == answer.contributor.id %}

            <div>
              <a href="{% url 'qa:answer_edit' answer.id %}">
                <button type="" class="btn btn-primary">
                    {# {% bootstrap_icon "arrow" %} #} Edit
                </button>
              </a>

              <a href="{% url 'qa:answer_delete' answer.id %}">
                <button type="" class="btn btn-danger">
                    {# {% bootstrap_icon "arrow" %} #} Delete
                </button>
              </a>

                </div>

                {% endif %}

                <br/>
            <div class="col-sm-12">
                <div class="col-sm-2">
                    {% if user in answer.upvoted_by_users.all %}
                    <div class="btn-disable btn-default">

                {% else %}
                    <div>
                {% endif %}
                    <form method="post" action="{% url 'qa:answer_vote' answer.id %}">
                        {% csrf_token %}
                          {% buttons %}
                          <button type="submit" class="btn" name="upvote">
                                {# {% bootstrap_icon "arrow" %} #} Upvote
                            </button>
                          {% endbuttons %}
                    </form>
                </div>
                </div>

                <div class="col-sm-2">
                {% if user in answer.downvoted_by_users.all %}
                <div class="btn-disable btn-default">
                {% else %}
                <div>
                {% endif %}

                <form method="post" action="{% url 'qa:answer_vote' answer.id %}">
                    {% csrf_token %}
                      {% buttons %}
                        <button type="submit" class="btn" name="downvote">
                            {# {% bootstrap_icon "arrow" %} #} Downvote
                        </button>
                      {% endbuttons %}
                </form>
                    </div>
                </div>
            </form>
                </div>


            <br />

            {% endif %}
                Upvotes: {{ answer.total_upvotes }}

                Downvotes: {{answer.total_downvotes}}
        {% endfor %}
    {% else %}
        <i>There is no answer available for this question</i>
        {% if user.is_authenticated %}
          {% buttons %}
           <a href="{% url 'qa:new_answer' question.id %}">
            <button type="submit" class="btn btn-default">
                {# {% bootstrap_icon "arrow" %} #} Write an answer
            </button>
           </a>
          {% endbuttons %}
          {% endif %}

    {%endif%}
    </div>

{% endblock %}
