{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

    {% if question_list %}
        {% for question in question_list %}
            <h3><a href="{% url 'qa:answers' question.id %}">{{ question.subject }}</a> </h3>
            {% if user.is_authenticated  %}
                {% if user.id == question.contributor.id %}

              <a href="{% url 'qa:question_edit' question.id %}">
                <button type="" class="btn btn-primary">
                    {# {% bootstrap_icon "arrow" %} #} Edit
                </button>
              </a>

              <a href="{% url 'qa:question_delete' question.id %}">
                <button type="" class="btn btn-danger">
                    {# {% bootstrap_icon "arrow" %} #} Delete
                </button>
              </a>


                {% endif %}
            {% endif %}

            Upvotes: {{question.total_upvotes}}
            Downvotes: {{question.total_downvotes}}

            <h4>Asked by: {{ question.contributor.get_username }} </h4>
            <i><h5>Total answers: {{ question.answer_set.all.count }}</h5></i>
            {% for answer in question.answer_set.all %} <p>{% if forloop.last %} {{answer.answer}}
                {% endif %}</p>
            {% endfor %}
        {% endfor %}

    {% else %}
        <p>No questions are available.</p>
    {% endif %}
{% endblock %}
